apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: web1
  name: web1
  namespace: nov2025
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web1
  strategy: {}
  template:
    metadata:
      labels:
        app: web1
    spec:
      containers:
      - image: nginx:1.14
        name: nginx
